body{
	text-align:center;
	margin:10px 10px 0 10px;
}

h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color: #000000;
	text-align:center;
	text-transform: uppercase;

}

h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color: #000000;
	text-align:center;
}

p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #000000;
	text-align: justify;
	text-indent: 1.0cm;
}

#logo{
	margin:10px auto;
}
#corpo{
	width: 784px;
}

#advert{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color: #666666;
	text-align:center;
	border-bottom:#666666;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-top-color:#666666;
	border-top-style:solid;
	border-top-width:1px;
	width:350px;
	padding: 3px 0 3px 0;
	margin: 0px auto;
}

#advert p{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
	color: #990000;
	text-align:center;
	margin:5px 0 5px 0;
	text-indent:0;
}

#advert2{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color: #003366;
	text-align:center;
	border-bottom:#666666;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-top-color:#666666;
	border-top-style:solid;
	border-top-width:1px;
	width:350px;
	padding: 5px 0;
	margin: 50px auto 20px;
}

#advert2 a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	color: #003366;
	text-align:center;
	text-decoration: none;
}

#advert2 a:hover{
	text-decoration: underline;
}

.legenda{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#003366;
	text-align:center;
	margin-top:5px;
	margin-bottom:20px;
}

.legendab {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	text-align:center;
	margin-top:5px;
}

.texto{
	text-align:left;
	font-size:13px;
}
.texto_center{
	text-align:center;
	text-indent:0cm;
}
.alineas{
	margin-left:50px;
	width: 730px;
	text-indent:0cm;
}
.ementa{
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	color: #000000;
	font-style: italic;
	margin-bottom: 30px;
	margin-left:390px;
	width: 390px;
	text-indent:0;
}
table{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #000000;
	margin-left: 5%;
	margin-right: 5%;
	border-collapse: collapse;
	border: #999;
}
td{
	border: 1px solid #999;
	padding: 3px;
}
td p{
	text-indent:0;
}
ul{
	text-align:left;
	margin-left:40px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #000000;
}
